doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header
            nav.navigation 
                ul
                    li: a(href="/") Home
                    li: a(href="/users") Users
        main
            block content
        footer
            p &copy; 2025 Meerim Aitikeeva
            