<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Main Page</h1>
    <header class="header">
      <nav>
        <ul>
          <li class="header__item">
            <a href="/users">Users</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
        <img alt="main image" src="/images/see_you_next_page.jpg" class="main__image"/>
    </main>
  </body>
</html>
