doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list  
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        main 
            if prods.length > 0
                .grid
                    each product in prods
                        article.card.product-item 
                            header.card__header
                                h1.product-title #{product.title}
                            div.card__image
                                img(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F1976971%2Fpexels-photo-1976971.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26dpr%3D3%26h%3D750%26w%3D1260&f=1&nofb=1&ipt=33eb223549407593e86d5f11c96c3fe7d3d50a83d40e77d7fb54caeae7c33267", alt="Book image")
                            .card__content
                                h2.product__price $19.99
                                p.product__description Some text 
                            .card__actions 
                                button.btn Add to card
            else 
                h1 No products



