extends layouts/main-layout

block content
    main 
        <h1>Welcome to the Users Page</h1>

        if users.length > 0
            <ul>
                each user in users
                    li #{user.name} - #{user.email}
            </ul>
        else
            <p>No users found.</p>
